<!DOCTYPE html>
<html>
<head>
	<title>InternalCSS</title>
	<style type="text/css">
		*{
			background-color: lightgreen;
		}
		form{
			background-color: lightcyan;
			font-weight: bold;
			color: red;
			text-align: center;
			border-style: solid;
		}
		button{
			border-radius: 40%;
		}
		.txt{
			border-radius: 20%;
			border-style: dotted;
			border-color: blue;
		}
		#res{
			border-radius: 45%;
			color:red;
		}
		h1,p{
			color: purple;
			border-style: double;
			font-family: verdana; 
			text-align: center;
		}


	</style>
</head>
<body>
	<h1>Registration Form</h1>
	<p>Please fill the form</p>
	<form>
		Name:<input type="text" name="" class="txt" placeholder="Enter ur Name"><br><br>
		Email:<input type="email" name="" class="txt" placeholder="Enter ur email"><br><br>
		Password:<input type="password" name="" class="txt"  placeholder="Enter ****"><br><br>
		<button type="submit">Register</button>
		<input type="reset" value="reset" id="res">
	</form>
</body>
</html>